@font-face {
  font-family: 'courier';
  src: url('../assets/courier.woff2') format('woff');
}

body {
  font-family: 'courier', sans-serif;
  text-align: center;
  font-size: 14pt;
  color: #575449;
  background: #FAF7EB;
}

a {
  text-decoration: none;
  color: #639991;
  font-size: 90%;
}
a::after {
  content: '\00292f';
}

h1 {
  font-weight: bold;
  font-size: 18pt;
}

h2 {
  font-weight: bold;
  font-size: 14pt;
}

.container {
  display: flex;
  flex-direction: column;
}

.machine ul {
  text-align: left;
}

.coffee {
  margin-bottom: 2em;
  margin-top: 2em;
  margin: 2em 0.5em;
}

.coffee > h2 {
  border-bottom: 1px solid;
  margin-bottom: 0.3em;
  padding-bottom: 0.3em;
}

.beverage {
  display: flex;
  text-align: left;
  line-height: 150%;
}

.name {
  flex-basis: 30%;
}

.prop {
  text-align: right;
}

.weight {
  flex-basis: 20%;
}
.weight::after {
  content: 'g';
}

.grind {
  flex-basis: 20%;
}
.grind::before {
  content: '@';
}

.time {
  flex-basis: 30%;
}
.time::before {
  content: 'in ';
}
.time::after {
  content: 's';
}

.volume {
  flex-basis: 30%;
}
.volume::before {
  content: 'w/ ';
}
.volume::after {
  content: 'ml';
}

@media all and (min-width: 768px) {
  .container {
    flex-direction: row;
  }

  .machine {
    flex: 0 0 40%;
    padding: 0 2em;
  }
}
