@font-face {
  font-family: 'courier';
  src: url('../assets/courier.woff2') format('woff');
}

body {
  font-family: 'courier', sans-serif;
  text-align: center;
  color: #575449;
  background: #FAF7EB;
}

a {
  text-decoration: none;
  color: #639991;
}

h1 {
  font-weight: bold;
  font-size: 26pt;
  margin-bottom: 1em;
}

h2 {
  font-weight: normal;
  font-size: 22pt;
  margin-bottom: 0;
}

h5 {
  font-size: 12pt;
  margin-top: 0;
}

.container {
  display: flex;
  flex-direction: column;
}

.group {
  margin-top: 2em;
  margin-bottom: 2em;
}

.small-hr::after {
  content: '-----';
}

.group-divider::after {
  content: '=====';
}

.item-divider::after {
  content: ' · ';
}

.icon {
  width: 20%;
  margin: 3em;
}

@media all and (min-width: 1024px) {
  .container {

    flex-direction: row;
  }

  .group-divider {
    display: none;
  }

  .group {
    flex: 0 0 40%;
  }
}
