@font-face {
  font-family: 'andale-mono';
  src: url('../assets/andale-mono-bbash.woff2') format('woff');
}

body {
  font-family: 'andale-mono', monospace;
  font-size: larger;
  text-align: center;
  color: DarkSlateGrey;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  display: grid;
  grid-template-columns: 1fr
}

.item {
  margin: 1em;
  margin-bottom: 3em;
}

.item-divider::after {
  content: '\a';
  white-space: pre;
}

.icon {
  hight: 10%;
  margin: 1em 0 0 0;
}




@media all and (min-width: 768px) {
  .container {
    grid-template-columns: 1fr 1fr;
     grid-auto-rows: 1fr;
  }
}

@media all and (min-width: 1200px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr;
     grid-auto-rows: 1fr;
  }
}
