@font-face {
  font-family: 'andale-mono';
  src: url('../assets/andale-mono.woff2') format('woff');
}

body {
  font-family: 'andale-mono', monospace;
  font-size: larger;
  text-align: center;
  color: DarkSlateGrey;
}

a {
  text-decoration: none;
  color: inherit;
}

hr {
  color: LightGray;
  width: 90%;
}

#bar img,
#kaffee img {
  width: 28%;
}

#bar img {
  animation-delay: 0s;
}
#gin img {
  animation-delay: 1s;
}
#kaffee img {
  animation-delay: 2s;
}
#bbash img {
  width: 60%;
}
#bbash .icon {
  max-width: none;
}

.container {
  display: flex;
  flex-direction: column;
}

.item {
  padding: 0.5em;
}

#jumbo {
  height: 100vh;
}

#jumbo a {
  margin: auto;
}

.imgbox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.icon {
  align-self: center;
  max-width: 33%;
  margin: 1em 0 1em 0;
  animation: mirrorX 10s ease-in-out infinite alternate
}

.banner {
  margin-bottom: 3em;
  font-weight: bold;
  line-height: 500%;
  background: #FAF7EB;
}
.banner > a {
  color: #639991;
}

@keyframes mirrorX {
  0% {
    transform: scaleX(1);
  }
  49% {
    transform: scaleX(1);
  }
  51% {
    transform: scaleX(-1);
  }
  100% {
    transform: scaleX(-1);
  }
}

@media all and (min-width: 480px) {
  .container {
    flex-direction: row;
  }

  .item {
    width: 33vw;
    height: 33vw;
    transition: all 0.1s linear;
    border-bottom: 2px solid transparent;
  }

  .item:hover {
    border-bottom: 2px solid DarkSlateGrey;
  }

  .imgbox {
    height: 80%;
  }

  hr {
    display: none;
  }
}
