/*
* LOADED AFTER NORMAL style.css
*/

/*
* INGREDIENT QUANTIFIERS HERE
*/

.pts-1::before { content: '1 part ' }
.pts-2::before { content: '2 parts ' }
.pts-3::before { content: '3 parts ' }
.d-1::before { content: '1 dash ' }
.sp-1::before { content: '1 spoon ' }
.slice::before { content: 'slice(s) of ' }
.fill::before { content: 'fill up with ' }

/*
* NORMAL CSS HERE
*/

body {
  text-align: left;
}

.item-divider::after {
  content: '\a';
  white-space: pre;
}
